Source: thruk
Section: net
Priority: extra
Maintainer: Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>= 9),
               libcatalyst-modules-perl,
               libcatalyst-perl (>= 5.9001),
               libcatalyst-plugin-compress-perl,
               libcatalyst-plugin-customerrormessage-perl,
               libcatalyst-plugin-redirect-perl,
               libcatalyst-view-excel-template-plus-perl,
               libcatalyst-view-gd-perl,
               libcatalyst-view-pdf-reuse-perl,
               libchart-clicker-perl,
               libclass-c3-adopt-next-perl,
               libclass-c3-xs-perl,
               libclass-data-inheritable-perl,
               libconfig-general-perl,
               libdata-page-perl,
               libdate-calc-perl (>= 6.3),
               libdate-calc-xs-perl,
               libdate-manip-perl,
               libexcel-template-plus-perl,
               libfcgi-procmanager-maxrequests-perl,
               libfcgi-procmanager-perl,
               libfile-slurp-perl,
               libgd-gd2-perl (>= 2.44),
               libjson-xs-perl,
               liblog-dispatch-perl,
               liblog-log4perl-perl (>= 1.34),
               libmodule-install-perl,
               libmongodb-perl,
               libmonitoring-availability-perl (>= 0.40),
               libmonitoring-livestatus-class-perl (>= 0.03),
               libmonitoring-livestatus-perl (>= 0.74),
               libmro-compat-perl,
               libnamespace-autoclean-perl,
               libpdf-reuse-perl,
               libwww-perl
Standards-Version: 3.9.3
Homepage: http://www.thruk.org
Vcs-Git: git://github.com/sni/Thruk.git

Package: thruk
Architecture: any
Depends: apache2,
         cron,
         libapache2-mod-fcgid,
         libcatalyst-modules-perl,
         libcatalyst-perl (>= 5.9001),
         libcatalyst-plugin-compress-perl,
         libcatalyst-plugin-customerrormessage-perl,
         libcatalyst-plugin-redirect-perl,
         libcatalyst-view-excel-template-plus-perl,
         libcatalyst-view-gd-perl,
         libcatalyst-view-pdf-reuse-perl,
         libchart-clicker-perl,
         libclass-c3-adopt-next-perl,
         libclass-c3-xs-perl,
         libclass-data-inheritable-perl,
         libconfig-general-perl,
         libdata-page-perl,
         libdate-calc-perl (>= 6.3),
         libdate-calc-xs-perl,
         libdate-manip-perl,
         libexcel-template-plus-perl,
         libfcgi-procmanager-maxrequests-perl,
         libfcgi-procmanager-perl,
         libfile-slurp-perl,
         libgd-gd2-perl (>= 2.44),
         libjs-mootools,
         libjson-xs-perl,
         liblog-dispatch-perl,
         liblog-log4perl-perl (>= 1.34),
         libmodule-install-perl,
         libmongodb-perl,
         libmonitoring-availability-perl (>= 0.40),
         libmonitoring-livestatus-class-perl (>= 0.03),
         libmonitoring-livestatus-perl (>= 0.74),
         libmro-compat-perl,
         libnamespace-autoclean-perl,
         libpdf-reuse-perl,
         libwww-perl,
         logrotate,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: Monitoring Webinterface for Nagios/Icinga and Shinken
 Thruk is a multibackend monitoring webinterface which currently
 supports Nagios, Icinga and Shinken as backend using the Livestatus
 API. It is designed to be a 'dropin' replacement and covers almost
 all of the original features plus adds additional enhancements for
 large installations.
