#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

b := $(shell pwd)/debian/thruk

%:
	dh $@ #DH7_ADDON#

override_dh_auto_clean:
	-rm -rf t/xt
	-rm -rf root/thruk/plugins
	-rm -rf var/*
	dh_auto_clean

override_dh_auto_test::

#	-mkdir var
#dh_auto_test

override_dh_auto_install:
	#copy some configfiles into place. (the ones that need renames)
	cp log4perl.conf.example $b/etc/thruk/log4perl.conf
	cp -a ssi $b/etc/thruk
	mv $b/etc/thruk/ssi/status-header.ssi-pnp $b/etc/thruk/ssi/status-header.ssi
	cp $b/etc/thruk/ssi/status-header.ssi $b/etc/thruk/ssi/extinfo-header.ssi
	cp support/thruk_local.conf.example $b/etc/thruk/thruk_local.conf
	cp support/apache_fcgid.conf $b/etc/apache2/conf.d/thruk.conf
	cp support/fcgid_env.sh $b/usr/share/thruk
	chmod 755 $b/usr/share/thruk/fcgid_env.sh


override_dh_install:
	dh_install
	for file in $(CURDIR)/debian/thruk/usr/share/thruk/plugins/plugins-available/*; do \
		file=`basename $$file`; \
		ln -s /usr/share/thruk/plugins/plugins-available/$$file $(CURDIR)/debian/thruk/etc/thruk/plugins/plugins-available/$$file; \
		done
	for file in $(CURDIR)/debian/thruk/usr/share/thruk/themes/themes-available/*; do \
		file=`basename $$file`; \
		ln -s /usr/share/thruk/themes/themes-available/$$file $(CURDIR)/debian/thruk/etc/thruk/themes/themes-available/$$file; \
		done
	rm -rf $b/usr/share/thruk/plugins/plugins-enabled
	rm -rf $b/usr/share/thruk/themes/themes-enabled
