#!/bin/sh -e

. /usr/share/debconf/confmodule

# the passwords are reset at the end of every postinst run,
# however, they are left in the "seen" state so that the
# admin is not prompted for them at every upgrade.
while [ ! "$passwordsmatch" ]; do
    #only ask for a password if no htpasswd exists
    test -f /etc/thruk/htpasswd.users && break 
    db_input high thruk/adminpassword || true
    db_input high thruk/adminpassword-repeat || true
    db_go || true
    db_get thruk/adminpassword
    p1="$RET"
    db_get thruk/adminpassword-repeat
    p2="$RET"
    if [ "$p1" = "$p2" ]; then
        passwordsmatch="yes"
    else
        db_fset thruk/adminpassword seen false
        db_fset thruk/adminpassword-repeat seen false
        db_fset thruk/adminpassword-mismatch seen false
        db_input critical thruk/adminpassword-mismatch || true
    fi
done
db_go || true
